body{
    background-color: #ede8e8;
    color: #141614;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: none;
    padding: 3rem;
    transition: background-color 0.3s color 0.3s;
}

body.dark-mode{
    background-color: #1a1a1a;
    color: #b43636;
}

button{
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    background-color: #111;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 2rem;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode button{
    background-color: #fff;
    color: #111;
}

p{
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto
}