.header{
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text{
    display: flex;
    flex-direction: column;
}

.pfp{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
}


.weekdays{
    background-color: aqua;
    display: flex;
    justify-content: space-around;
}
.day{
    background-color: violet;
    padding: 10px;
}

.mid-section-with-pic{
    display: flex;
    gap: 20px;
    background-color: lightblue; 
}

.mid-pic{
    width: 370px;
    height:370px;
    border-radius: 10px;
}

.motivation{
    background-color: lightgreen;
    padding: 10px;
}

.bottom{
    display: flex; 
}

.bottom-item{
    background-color: lightcoral;
    padding: 10px;
    margin: 10px;
    flex: 1;
}