.toggle-button{
    display: flex;
    justify-content: flex-end;
    justify-content: left;
}
.header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text{
    display: flex;
    flex-direction: column;
}

.pfp img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
}


.weekdays{
    display: flex;
    justify-content: space-around;
}
.day{
    background-color: #fdfdfd;
    border-radius: 100%;
    max-width: fit-content;
    padding: 10px;
}

.mid-section-with-pic{
    padding: 20px;
    display: flex;
    gap: 20px;
   
}

.mid-pic{
    width: 370px;
    height:370px;
    object-fit: cover;
    border-radius: 100px;
}

.motivation{
    padding: 10px;
}

.todo-list{
    background-color: #fdfdfd;
    justify-content: space-between; 
    border-radius: 10px;
    padding: 20px;
    width: 400px;
}

.bottom{
    display: flex; 
}

.bottom-item{
    padding: 10px;
    margin: 10px;
    flex: 1;
}

#task1, #task2, #task3, #task4{
    width: 20px;
    height: 20px;
}